[2017-06-24 17:52] tmc opened #1 "support user-supplied types"

[2017-06-24 18:44] bxcodec commented on #1
Can you provide some of explanation, please ? Some example, or something.

Currently, `faker` only support for some native types, and a non Pointer of Struct type.

For example :

[code]

[2017-07-01 14:23] nochso commented on #1
How about an interface? Check for this interface when encountering structs and if it's implemented, call Fake.

[code]
Mail addresses or phone numbers are good examples because they should look a certain way.
[code]

[2017-07-06 06:12] bxcodec commented on #1
@nochso
Cool.
I would appreciate for the pull request rather than a code snippet. Thanks

[2017-07-10 17:29] bxcodec commented on #1
Add new function here #5

Still need more example  of data that already has a fixed pattern.
Maybe you could list more here LOL :D
So we can add the function

[2017-07-10 17:31] #1 closed

[2018-02-16 20:11] millerlogic opened #15 "Toll free number"
Toll is spelled as tool in a few places, https://github.com/bxcodec/faker/blob/c6722237957259412e4587a1dee0bb2620258745/faker.go#L36 and the examples.

Also I'm not sure that 777 is a toll free number. Not sure how it works globally.

[2018-02-17 05:38] agoalofalife commented on #15
Hello , faker generate `777` or `888`.
@millerlogic  Do you have any suggestions?

[2018-03-21 22:17] d4l3k opened #16 "nested pointer support"
It'd be really useful to have support for nested pointer structs and a probability for each pointer field whether or not it gets filled.

This would make it really easy to fuzz GRPC endpoints since you would be able to generate random messages.

[2018-03-23 02:59] bxcodec commented on #16
Hello, I'm afraid that we can't do that. Maybe a bit impossible to do.

Because for Golang itself, the pointer's zero value is `nil`. So it will be impossible to generate data to nested pointer struct.

[code]
[Playground](https://play.golang.org/p/Fa72FzGnVUn)

[2018-03-23 04:28] d4l3k commented on #16
It really is possible. I ended up writing my own version of this library since I wanted to fuzz some GRPC endpoints.

Ex:
[code]

Full example:
https://play.golang.org/p/VL_cHtfeTI2

Here's the full fuzzing code:

https://gist.github.com/d4l3k/be19b7d32aa4908c5500421af0a5fd79

[2018-03-23 08:26] bxcodec commented on #16
Cool, I've make a PR for this feature. Thank you for helping. I just realized this way. 🙄

[2018-03-23 09:16] #16 closed

[2018-04-04 11:13] chhabraamit opened #21 "Are there any plans to include cli tool for this?"

[2018-04-04 12:29] chhabraamit commented on #21
For cases like:

- when one can't include new dependency in their projects because of some reasons (like company restrictions)
- for cases where one can create structs literals and update some of the fields' values.

[2018-04-04 13:01] agoalofalife commented on #21
while in terms this is not provided
@bxcodec what do you think?

[2018-04-05 03:11] bxcodec commented on #21
For that case, I can't still imagine, how cli tool will work.

As we know, faker will generate random object inline  code based on struct.

But, I think it would be interesting to do, I would appreciate any PR for this issue.

What do you think @agoalofalife ?

[2018-04-05 05:39] agoalofalife commented on #21
@bxcodec  I agree

[2018-04-06 03:04] chhabraamit commented on #21
Awesome. Let me take a stab at it this weekend.

[2018-04-18 22:47] rdelval opened #22 "Concurrent data generation (thread safety)"
I'm using faker to generate data for a simulation that has multiple goroutines. It seems faker is currently unable to work with more than a single thread due to the fact that it uses rand.NewSource
[here]( https://github.com/bxcodec/faker/blob/master/faker.go#L14) .

The docs say:
[code]
https://golang.org/pkg/math/rand/

It would be great to make it so we're able to use faker across multiple thre

[2018-04-19 06:54] agoalofalife commented on #22
can write an example of how you use `faker` in multiple goroutines?

[2018-04-19 06:55] agoalofalife commented on #22
on this topic I've found this [discussion](https://github.com/golang/go/issues/21393)

[2018-04-20 06:52] agoalofalife commented on #22
We can add methods from native package and set seed
`rand.Seed(time.Now().UnixNano())` as suggested in the [discussion](https://github.com/golang/go/issues/21393).

I put this entry in the general function(`FakeData`)

[code]

[code]
I did not notice that he did the same

[code]

@rdelval Do you have any suggestions?
You or I can send PR, just let us know)

[2018-04-20 18:34] rdelval commented on #22
In this case, to keep the pseudo-randomess it's best to keep a single seed set at the beginning of the initialization and use the default source throughout the rest of the program.

I'll raise a PR and we can continue the discussion there.

Thanks for looking into this and being receptive to feedback!

[2018-04-20 18:47] agoalofalife commented on #22
PR https://github.com/bxcodec/faker/pull/23

[2018-04-20 18:50] #22 closed

[2018-07-23 17:19] ilackarms opened #25 "Panic if struct field is a named type"
the following code will panic:

[code]

with the error `  reflect.Set: value of type int32 is not assignable to type <pkgname>.Foo`

My suggestion is to add a type conversion in `faker.go`. I've tested it manually and (at least for my use case) this fixes the issue.

[2018-07-25 00:49] bxcodec commented on #25
Cool, I've merged this for a while. Will investigate for other custom types

[2018-07-31 22:04] #25 closed

[2018-08-08 23:32] perryao opened #29 "using in loop results in duplicate values"
I'm generating data in a loop, but since `randomElementFromSliceString` seeds on every invocation, the generated values aren't random. I'd think seeding in `init` would be good enough, and removing the seed from `randomElementFromSliceString` would allow random data to be generated in a loop.

[2018-08-17 09:41] HeinOldewageRetro opened #30 "Faking a struct with unexported fields panics"
[code]

Changing `getValue` by checking `CanSet()` should fix the problem.
[code]

[2018-08-20 09:43] #30 closed

[2018-08-28 14:08] pc06548 commented on #29
Faced the same issue. I put `time.Sleep(1*time.Second)` in the loop. As I need generated data to store in text file, this hack worked.

[2018-08-29 02:12] bxcodec commented on #29
@perryao can you post a few lines of code on how to reproduce it??

[2018-08-30 15:48] perryao commented on #29
Hi @bxcodec. Here's some sample code showing this issue:

[code]

Here's the an example log from running this (it'll be different on each invocation):

[code]

[2018-08-31 09:52] #29 closed

[2018-09-18 05:51] ecojuntak opened #36 "How to ignore field?"
How I can ignore to generate fake data for any field?
Here is my code
[code]

The result is
[code]

The faker generate random ID. Can I Ignore so the id not generated?

[2018-09-18 06:48] bxcodec commented on #36
Just add the skipping tag like json.

This issue already solved in #32.
If you encounter another issue related to this, you can reply this comment later

[2018-09-18 06:48] #36 closed

[2018-10-07 04:12] msorens opened #39 "Faking a UUID panics"
I had a complex struct generating a panic from faker and I isolated it to the uuid field causing the issue.
Here's the minimal code to show the error:

[code]

And the error trace is:
[code]

[2018-10-07 17:30] martinbergpetersen commented on #39
This is not possible. See PR #40

This will enable faking UUID in the future.

[2018-10-08 06:41] DenLilleMand commented on #39
Not the way you're doing it though, if you have a third party package like that one inside of your struct i would suggest you do
[code]
And then
[code]

If you use the PR you have to use a
[code]
and then
[code]

[2018-10-08 17:30] msorens commented on #39
@DenLilleMand : I like the idea of telling faker to just skip that field, rather than changing it to a string. Had not seen the "skip" annotation in the list of available choices. Thanks!

[2018-10-11 01:14] #39 closed

[2019-01-02 02:46] BGarretson opened #42 "Generate only for non-default fields"
I like this for populating test data - but often I want to be in control of a couple of the structs property values, and then fake whatever's left (and not skipped). Is this possible? I guess what I'm asking for is a 'ifDefaultValueForTypeThenGenerate' kind of functionality

Also, it would be cool if there was a way for us to feed you a func name that you invoke to populate the field. Product-spec

[2019-01-13 02:44] bxcodec commented on #42
Can you explain it with some example that you've made with faker??

And btw, faker also support for a custom faker provider  at  #33

[2019-01-13 14:43] bxcodec opened #44 "chore: Improve quality by using linter"
### [TODO]
Improve the code-quality using linter

[2019-01-16 08:47] bxcodec opened #45 "[TODO] Export A few of the generator functions to be able accessed publicly"
TODO!

Currently, this package will work well by structs defined. I have a plan to export a few functions that will be accessible by other package who use this package.

For example:
[code]

Will done in a near future

[2019-01-21 09:49] zkynet opened #46 "Cannot select the fake type when using pointers"
Hey there, I am having trouble applying the faker:"Something" tag to struct fields that are pointers.

Here is the struct:
[code]

Stack:

panic: reflect.Set: value of type string is not assignable to type *string
[code]

Now, if I remove the faker:"first_name_male" .. everything works fine.

It probably has something to do with this change:
https://github.com/bxcodec/faker/pull/17/commits/d5d9f35

[2019-01-21 15:53] bxcodec commented on #46
Thanks for the issue, will investigate how to fix this soon.
For now, I think you can use without pointers.

[2019-01-22 06:58] #46 closed

[2019-01-25 15:46] bxcodec commented on #15
I think will close this, this issue is stale to long.

[2019-01-25 15:46] #15 closed

[2019-01-25 15:47] bxcodec commented on #21
I think will close this, this issue is stale to long. Besides, I still can't imagine how CLI tools will work with faker.

[2019-01-25 15:47] #21 closed

[2019-01-29 04:10] umeat opened #49 "Support for less than tags with numbers and length of strings"
For context, I'm storing non standard uint and int lengths (for example uint2 and int12 as uint8 and int16). This data is being Deserialized from and Serialized to binary. if I use faker to make the struct, it may make a much larger value than will actually be Serialized to binary. So when I Deserialize that binary it does not equal the object that faker generated. Same issue with the length of st

[2019-01-29 21:07] psiservices-scohen opened #51 "Go mod cannot find module"
Since the 2.01 update, go modules cannot find the module

unknown import path "github.com/bxcodec/faker": cannot find module providing package github.com/bxcodec/faker

It did work with version v2.0.0

[2019-01-30 00:05] bxcodec commented on #51
Thanks for the reports, will investigate this issue ASAP 🙏

[2019-01-30 00:42] bxcodec commented on #51
Hi @psiservices-scohen,
It works well for me, I don't know why it's not working on you

[2019-01-30 00:45] bxcodec commented on #49
Cool, I think this feature will very useful, but I'm not sure I can help to create it ASAP. But, I will appreciate any PR for this issue

[2019-01-30 14:12] psiservices-scohen commented on #51
Hmm, really strange.  I cloned my project into a new folder ran the go mod init  command, then try and build - this is the output:

[org_onboarding]$ go build
go: finding github.com/ably/ably-go/ably latest
go: finding github.com/go-chi/chi/middleware latest
go: finding github.com/asaskevich/govalidator latest
go: finding gopkg.in/mgo.v2 latest
go: finding github.com/ugorji/go/codec latest
build o

[2019-01-31 14:50] bxcodec commented on #51
That's weird, somehow I can't reproduce as you do.

What happens if you just `go get github.com/bxcodec/faker` again from scratch? Is it still raising the error?

[2019-01-31 14:51] psiservices-scohen commented on #51
I'm going to blow away my project folder and recreate from backup - very strange that it's just this package.

[2019-01-31 15:16] bxcodec commented on #51
Lol. Alright then, so I'll close this issue for a while. If anything comes up, just reopen this issue.
And also I'm planning to move this project to Go mod soon. Just in case if this happens because this project is not moved to Go module yet. But I'm still looking for the spare time to do this. :D

[2019-01-31 15:16] #51 closed

[2019-01-31 15:16] bxcodec opened #54 "[TODO] Move to Go Module"
## Todo
Roadmap for go module faker/v3:
### Chore

- [x]  Introduce new go module as new version: v/3.  (#56)
- [x] Apply linter for better quality. PR: (#55)

### Breaking changes

- [x] Fix typos that caused a breaking change. (#52 )

### Features

- [x] Optionally insert nils instead of empty slices and maps (#58, #59)
- [ ] Export a generator functions so that can accessed publicly (#45 #63)
-

[2019-01-31 15:18] psiservices-scohen commented on #51
Restore - works again, so who knows -   Thanks!

[2019-02-01 06:51] bxcodec commented on #44
fixed in #55

[2019-02-01 06:52] #44 closed

[2019-02-06 06:51] oakad opened #58 "Optionally insert nils instead of empty slices and maps"
When populating slice fields, faker may decide to use an empty slice as a slice value ([]sometype {}). Some other libraries, however, feature an optimization, whereupon empty slices are always replaced with `nil`s to keep the amount of memory garbage down.

When unit testing various serialization scenarios we often have a situation whereupon an object has to be compared to an equivalent object:

1

[2019-02-06 10:41] bxcodec commented on #58
* CMIIW &  I'm sorry if I do not get it right what you're saying here.

Currently, faker will always generate an array(slice) of dummy data for any array(slice) type.
For the case of using an empty slice as a slice value, I think that can be done by adding manually in the code because it's empty anyway, you don't need any item in it, so what the point to use faker.

I use faker when I have a struc

[2019-02-07 00:40] oakad commented on #58
If the struct is deeply nested it is very cumbersome to do manually. Also, adds a lot of boilerplate to unit tests.

The point is, empty and nil slices are important unit test items. Faker nicely creates empty slices so it will be nice of it to create nil slices and maps as well.

[2019-02-07 15:28] bxcodec commented on #58
hmmm, I see.
Cool. But I'm not sure can add this ASAP, I'm so busy lately. Maybe you could submit a PR to solve this. I will really appreciate that ;)

[2019-02-09 05:02] bxcodec commented on #58
Should be fixed by #59

[2019-02-09 05:02] #58 closed

[2019-02-20 09:31] #49 closed

[2019-03-04 05:27] andresprogra opened #62 "Cannotn find package"
package github.com/bxcodec/faker/v3/support/slice: cannot find package "github.com/bxcodec/faker/v3/support/slice" in any of:
	/usr/local/go/src/github.com/bxcodec/faker/v3/support/slice (from $GOROOT)
	/home/andres/go/src/github.com/bxcodec/faker/v3/support/slice (from $GOPATH)

[2019-03-08 05:03] #45 closed

[2019-03-08 05:03] #54 closed

[2019-03-08 06:47] bxcodec commented on #62
Hi @andresprogra

Thanks for the issue,
This issue happens because you're not using the go module.
If you use godep, or any other dependency management, use the v2 tag

[2019-03-28 07:47] c625473164 opened #65 "Compatible with interface{}"
If meet some fields which not supported such as interface{}, Can we just ignore the err.
For example
[code]
I only want A, B filed, just give me C with a nil value

[2019-03-28 07:59] bxcodec commented on #65
I don't think it's will be good.
If you want to ignore the interface, maybe you can add the skip tag.

[code]

[2019-03-28 08:53] sebastian-walter commented on #42
@BGarretson Yesterday my PR got merged which enables you to use the `keep` tag. When the tag is set the behaviour is the following:
* If the value differs from the zero value, faker will not change it
* If the value equals the zero value for this type, faker will set the value for you

[2019-03-28 09:58] c625473164 commented on #65
the struct is sometimes generated by thrift or other tools such as protobuf, so it's not so convenient to add tags

[2019-04-18 10:05] #62 closed

[2019-05-03 08:16] sebastian-walter opened #66 "Skip does not really skip a struct"
I have the following use case:

[code]

When I fake the data, I would expect that the initial data of `MyOtherStruct` would be persistent. But in fact, it is being reset by faker.

[2019-05-04 06:08] bxcodec commented on #66
Wow, thanks for the report, I never expect that 😱
I will try to debug and resolve this ASAP.

[2019-05-07 02:39] #66 closed

[2019-05-07 02:47] bxcodec opened #68 "Update example in Readme with the updated version"
There are a few examples in the documentation that still use the old version, still need a spare time to do this.

[2019-07-10 13:08] jostillmanns opened #69 "custom faker's don't support the Map type"
I recently wanted to place a custom faker on a `map[string]string` struct field. Turns out you can't do that.

[2019-07-11 03:01] ychdesign opened #71 "package v3 not found"
package dependency  not found in phone.go.
"github.com/bxcodec/faker/v3/support/slice" => "github.com/bxcodec/faker/support/slice"

[2019-07-11 03:49] bxcodec commented on #71
For V3 version, please use go mod in your project.

[2019-07-11 06:38] #71 closed

[2019-08-04 20:07] tokubass opened #72 "support the array of custom type"
I want to get this sample code supported.

[code]

[code]

[2019-08-13 07:09] ChristianLindLarsen opened #74 "Custom tag: Tag Unsupported"
Example struct field:

    Status   string `faker:"Status"`

From the example code provided on the repo:

	_ = faker.AddProvider("Status", func(v reflect.Value) (interface{}, error) {
		rand.Seed(time.Now().Unix())
		statuses := []string{
			"APPROVAL",
			"DENIAL",
		}
		n := rand.Int() % len(statuses)

		return statuses[n], nil
	})

Result:

        go_test.go:45: Tag unsupported

[2019-09-06 14:24] guyfedwards commented on #68
Also should update the examples to import `github.com/bxcodec/faker/v3`

[2019-10-09 12:20] System-Glitch opened #76 "Unique modifier"
I have a use-case where I need to generate some structs and one of the fields needs to be unique. As the library doesn't have a unique modifier, I implemented `UniqueFaker` wrapper which retries the generation if the value has already been generated before.

This feature could be integrated officially into the library and I think it could be a very useful one. That way, uniqueness wouldn't require

[2019-10-09 12:59] bxcodec commented on #76
Cool...

You can open PR for that.

[2019-10-09 13:45] System-Glitch commented on #76
My solution is not practical and not very clean.
I checked the current implementation of the lib and such change would require significant changes to the lib's code base, and likely break backwards compatibility.

I'd like to discuss the possibilities before opening a PR. You may not be ok with the proposed change.
I thought of two possibilities to implement it:
- Change to an interface-based desi

[2019-10-09 23:30] bxcodec commented on #76
How about the second solution, but you create a new function that accepts the context.

Let say: `FakeUniqueData`, and behind of it we use the same function that `FakeData` has.

We don't have too break the API for the old version. But, I don't know if this possible to do?? 🤔

[2019-10-09 23:32] bxcodec commented on #76
The first solution also acceptable. As long as we make it not breakings the backward compatibility

[2019-10-10 02:23] bxcodec commented on #74
You have to init the custom provider on function init

[2019-10-10 02:23] bxcodec commented on #74
Is this issues still happening?

[2019-10-10 02:26] bxcodec commented on #72
I'm afraid this feature is a bit impossible, as I stated here: https://github.com/bxcodec/faker#limitation

I will grateful if someone can give solutions for this issue.

[2019-10-10 09:25] System-Glitch commented on #76
I thought about another easier solution: add a global slice of remembered unique values and a function to reset it. This solution wouldn't break backward compatibility and wouldn't require any change for developers to upgrade to the new version. I will try to implement that and open a PR.

[2019-11-15 06:07] #69 closed

[2019-11-15 06:22] bxcodec commented on #76
resolved by #77

[2019-11-15 06:22] #76 closed

[2019-12-12 17:33] kyprifog opened #81 "Allow ability to use `json` tag to get lower case names"
Structs in Go have to have upper case names in order to be public but in json you can get around this by passing the tag:

`json: name_lower`

Is there a way to do something similar with faker?

[2019-12-13 03:18] bxcodec commented on #81
Hmm.. interesting.

I haven't tested it yet. Have you tested it?

I wonder if that's possible, but it will need time to research this. I might need someone's help if possible. If not, I will take a look at this when I'm free.

[2019-12-13 18:49] Narven opened #82 "Bool values or OneOf"
Like so many other faker libraries, is it possible to generate fake bool values and OneOf.

I think that bool is easy to understand, but with OneOf, I was searching for something like this

[code]

thanks

[2019-12-16 14:07] kyprifog commented on #81
FTR I tried that but it didn't work, id have to spend a bit more time knowing how the library works to know if it made sense for it to work.   I want to just be able to product fake data with a lower case character.

[2019-12-16 14:10] mangatmodi opened #83 "Not working with interface type?"
I am using `faker/v3` module. I understand that faker doesn't work with `interface{}`, however in the following code

[code]

I am getting `interface{} not allowed` error. I don't have any `interface{}` type element in the struct. The only interface is `error`, all others are collection type.

[2019-12-17 13:24] mangatmodi commented on #83
So I did some investigation. [Add support for keeping struct property values](https://github.com/bxcodec/faker/pull/64/files#diff-eff4aacc7e083f4ba01e51856ee5de5dL259) - is the change which broke it.

For any interface (`error` in my case) we get error here - https://github.com/bxcodec/faker/pull/64/files#diff-eff4aacc7e083f4ba01e51856ee5de5dR325

Using V3.0.0 fixes the issue. I will try to raise

[2019-12-17 13:46] mangatmodi commented on #83
Ok, so `error` is of type interface. With `Nil` value `faker` can't tell which concrete implementation to use, hence the error. It is expected. I was dumb to realise is so late.

Maybe in wiki we should edit it from `interface{}` to `interface with nil values` to make it more clear to people?

[2019-12-17 13:46] #83 closed

[2019-12-19 21:03] asilverman opened #84 "Support inter-field dependencies"
Consider the following struct
[code]
The field BananasCount must be consistent with len(Entry.Bananas)

How can one create this kind of fake instance of Entry using faker?

[2020-01-23 14:11] dilitvinov opened #86 "Identifier's methods signature"
Greetings

Tell me please, why methods of Identifier interface accept reflect.Value? There is no places where it is used how I can see.

`type Identifier interface {
	Digit(v reflect.Value) (interface{}, error)
	Hyphenated(v reflect.Value) (interface{}, error)
}`

https://github.com/bxcodec/faker/blob/master/uuid.go#L24

[2020-01-28 04:07] bxcodec commented on #84
I think It's still do-able. But, if it's possible I prefer to make it as a custom faker function that you can register by your self to faker.

I still didn't found this will be very useful to a lot of people.
I will keep this issue open, if in the future there's a lot of requesting the same features, we will re-consider to move it as the main function.

How about that?

[2020-01-28 04:09] bxcodec commented on #82
I'll appreciate if someone can submit a PR for this.

I'm pretty busy at the moment, still need to find the best time to research this.

[2020-02-14 16:23] bcatubig opened #87 "Idea: Support for custom types"
The Golang YAML library allows parsing custom types by implementing the `Unmarshaler` interface. This possibly could be a solution for supporting custom types.

See
- https://godoc.org/gopkg.in/yaml.v2#Unmarshaler
- https://www.ribice.ba/golang-yaml-string-map/

[2020-02-23 06:11] arjunmahishi commented on #21
I have a use case for a CLI tool. I wanted to generate a json file with dummy data for a given struct. If I could do this via CLI instead of writing code on my own, that would be great. The command would look some thing like this:

[code]

[2020-03-18 17:49] michaelairola opened #92 "Arrays or Slices of Public structs not supported when tag is `faker:"len=?"`"
Adding the tag `faker:"len=1"` on a slice of a Public struct returns the error "Unknown Type". Without tag, faker generates the slice perfectly fine.

[2020-03-19 12:26] quii commented on #92
I get the same problem

[2020-03-25 03:52] kkfnui commented on #74
I encountered this problem yesterday. I made a stupid mistake.
I import "github.com/bxcodec/faker/v3"  where used to add custom tag
And I import "github.com/bxcodec/faker" when call `FakeData`

[2020-04-04 11:42] gadelkareem opened #93 "How to add a min chars length for password, username, ... etc"

[2020-04-11 17:32] musinit commented on #93
You can add exact chars length by 'faker:"len={your_desired_length}' attribute. Do you really need randomly generated length of fields with min value?

[2020-04-12 07:55] musinit opened #94 "Support different languages"

[2020-04-12 10:41] gadelkareem commented on #93
@musinit I am validating some fields like `password` based on min and max length so faker fields should pass these validations.

[2020-04-19 15:22] billythakidd04 opened #95 "Add support for genders"
Basic male and female cisgenders
additional non-binary genders

[2020-05-15 08:26] bxcodec commented on #95
Hey, mate @billythakidd04 , sorry for the late reply, so busy lately.

I'll appreciate it if you make a PR for this, and I can help you with reviewing it.

[2020-05-15 08:27] bxcodec commented on #94
I'll need help to do this, mind for submitting the PR 🙏

[2020-05-15 08:29] bxcodec commented on #93
For personal features need, mind considering to use the customize faker? You can look the examples here https://pkg.go.dev/github.com/bxcodec/faker/v3?tab=doc#example-package-CustomFaker

[2020-05-15 08:30] bxcodec commented on #92
Hey guys, I will look into this soon, so busy lately 🙏

But if you have time, mind submitting the PR?

[2020-05-15 10:26] #93 closed

[2020-05-18 01:42] michaelairola commented on #92
Hey @bxcodec thanks for responding!

So when I look back at this issue, I think I was looking for the wrong feature. It looks like the "len" tag establishes a desired length for strings in the tagged field (the field types that are currently effected by this tag are string, []string, and map[string]string).

I didn't realize this at the time of writing this issue. My desired result was to control

[2020-05-26 10:09] musinit commented on #94
Sorry for long answer, how do you think about something this? @bxcodec
https://github.com/bxcodec/faker/pull/97

[2020-06-02 05:36] #94 closed

[2020-06-03 16:44] andrew-werdna opened #101 "AddProvider for custom tag doesn't work with some custom types"
### Example struct field and type:
[code]
### Result:
[code]

### What appears to be the problem:
If you look, google's UUID is defined as `type UUID [16]byte`.
It would appear that in `setDataWithTag()` the `reflect.Indirect(v)` is returning `array`, but if you were to do `v.Kind()` you would get `uuid.UUID`. In the switch statement you would arrive at the `reflect.Slice, reflect.Array`, call `us

[2020-06-03 16:45] andrew-werdna commented on #101
I am about to open a PR that if acceptable to you will fix this particular problem. If you are okay with it, this could potentially be extended to work with other types (other than just `reflect.Array, reflect.Slice`)

[2020-06-04 05:13] bxcodec commented on #101
fixed by #102

[2020-06-04 05:13] #101 closed

[2020-06-04 05:31] bxcodec commented on #86
You can search that keyword in Github, to see where it used.
- https://github.com/bxcodec/faker/blob/627121e0bd014927f980e231ba34eebc41d9cf18/uuid.go#L10-L21
- https://github.com/bxcodec/faker/blob/627121e0bd014927f980e231ba34eebc41d9cf18/faker.go#L205-L206

This is legacy codes, I think it's since 2017 if you have a better approach, feel free to discuss it here.

[2020-06-04 05:33] bxcodec commented on #74
closing for no replies

[2020-06-04 05:33] #74 closed

[2020-06-04 05:34] bxcodec commented on #42
closing for not-active thread

[2020-06-04 05:34] #42 closed

[2020-06-04 05:39] bxcodec commented on #87
Hmm, have you tried this before? Would be great if we can do this?
I'm quite confused, LOL. I see the blog post is telling about `map[string]` stuff, I don't see anything related to custom /alias type 🤔

[2020-06-06 04:11] andrew-werdna commented on #68
Is there anything more I could do to help out with this? I see y'all have already made some progress with updating the docs. What is left that I could help with?

[2020-06-06 04:55] andrew-werdna commented on #72
So due to a recent PR that was merged, what you are asking is now possible **as long as you add a custom tag to your struct and use `AddProvider()` to implement what happens when you use that tag**.
@bxcodec & @tokubass

Example:
[code]

[2020-06-06 04:56] andrew-werdna commented on #72
This fix currently only works for types of array & slice. I can submit a PR that will extend this behavior to more types shortly (aliasing an existing built-in type to a user defined type).

[2020-06-06 07:46] andrew-werdna commented on #82
I'm working on a PR for this, will hopefully open before the weekend is done.

[2020-06-07 09:39] musinit commented on #95
@bxcodec hope this is it
https://github.com/bxcodec/faker/pull/104

[2020-06-07 10:46] bxcodec commented on #95
Thanks @musinit

[2020-06-07 10:46] #95 closed

[2020-06-07 10:48] bxcodec commented on #82
Thanks @andrew-werdna , really appreciate it

[2020-06-08 03:21] bxcodec commented on #68
I made this as a living issue, so if you guys found outdated docs, just freely make a PR.

[2020-06-09 04:33] andrew-werdna commented on #72
@bxcodec I _think_ you can close this issue as the OP's desire is now supported with the caveat of using `AddProvider()` to make sure the custom type gets created properly.

[2020-06-09 11:50] yonesko opened #107 "dep ensure error"
Trying to add your lib to project using [dep](https://github.com/golang/dep), but can't:
`
dep ensure -v --update github.com/bxcodec/faker

(4)         try github.com/bxcodec/faker@v3.4.0
(4)     ✗   "github.com/bxcodec/faker" imports "github.com/bxcodec/faker/v3/support/slice", which contains malformed code: no package exists at "github.com/bxcodec/faker/v3/support/slice"
`

[2020-06-11 15:41] bxcodec commented on #82
Re-open this for Hex/Binary and Octa

[2020-06-12 00:30] jubyvictor opened #108 "Tag unsupported error on oneof usage"
**Issue:**
Unable to use the oneof tag

**Steps to reproduce.**

1) Create a struct that looks like this.
[code]

Try printing it
[code]

**Output**

`ERR Tag unsupported: oneof: a, b`

**Go env**
[code]

[2020-06-12 03:41] bxcodec commented on #108
Hi @jubyvictor

May I know your faker version?
oneOf is not released yet, to enable it you can use the master version.

[code]

[2020-06-12 03:43] bxcodec commented on #107
Hi @yonesko,

Dep is no longer supported for this library since we're already moving to go modules since v3.
You can still able to use dep for any version before v3

[2020-06-12 03:43] #107 closed

[2020-06-12 08:26] Icety commented on #92
I needed the feature and didn't see a pr, so added the tag.
`slice_len=5` should do the trick

[2020-06-12 12:35] yonesko commented on #107
Thx,
My project uses dep, what should I do now ?

[2020-06-12 13:40] bxcodec commented on #107
I'm not sure, but I recommend you to upgrade your project to use go module because it's the official package manager from go

[2020-06-12 13:45] bxcodec commented on #107
Also, if you see other libraries, it started to use the go module as the default package manager. So it's better to move to go module now

[2020-06-12 17:11] jubyvictor commented on #108
Ah cool, that explains. Apologies should have mentioned this. Running 3.4.0

[2020-06-15 10:27] tiramiseb opened #110 "Usernames with non-alphabetical characters"
Since v3.4.0 (specifically, feature "new lang tag"), the generated fake usernames may include non-alphabetical characters : "[", "\", "]", "^", "_" and "`" : those characters are in the ASCII table between lowercase and uppercase letters.

Before v3.4.0, it was based on the string `letterBytes`, which contained "abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ".

[2020-06-15 13:23] #92 closed

[2020-06-15 13:24] bxcodec commented on #110
@musinit can you check on this, please?

[2020-06-15 13:27] bxcodec commented on #110
Thanks for the issue @tiramiseb, will look on this by EOW. Either I or anyone who available will fix this.

[2020-06-15 13:59] musinit commented on #110
Yes, I'll fix this

[2020-06-15 17:50] musinit commented on #110
@bxcodec what do you think?
https://github.com/bxcodec/faker/pull/111

[2020-06-15 18:50] tiramiseb commented on #110
for what it's worth, LGTM

[2020-06-16 12:28] filipegorges commented on #108
Hi @bxcodec, might be worth mentioning this on the example as well (https://github.com/bxcodec/faker/blob/master/example_with_tags_test.go)

[2020-06-16 19:40] filipegorges commented on #84
@bxcodec I have a similar use-case, say `FooId` and `BarId`, and would like to generate a random string for either of them but not for both of them at the same time; could you give an example of how could I make a custom faker function for that?

[2020-06-16 20:23] filipegorges opened #112 "Define arguments for custom tags"
Would it be possible to define arguments for custom tags?

For example:
[code]

That would avoid creating tags such as `"10_percent_chance_termination_date"`, `"20_percent_chance_termination_date"`, `"30_percent_chance_termination_date"` for different scenarios

[2020-06-17 14:48] bxcodec commented on #110
fixed by #111

[2020-06-17 14:48] #110 closed

[2020-06-17 14:59] bxcodec commented on #108
This issue should be fixed already in the new version, v3.5.0 https://github.com/bxcodec/faker/releases/tag/v3.5.0

[2020-06-17 14:59] #108 closed

[2020-06-22 08:56] pioz opened #114 "fatal error: concurrent map writes"
I have a goroutine in a for loop that runs `faker.FakeData`, here a sample code:
[code]

I get the follow error:
[code]
If I remove the `go` keyword all works fine.
If I remove the `unique` option in the `Email` field tag all works fine.

[2020-06-24 12:33] pioz opened #116 "FakeData on interface that is a slice"
Is possible with faker do something like this:

[code]

I've tried, but this function does not modify the `slice.Index(i).Interface()` with fake data.

Here a [playground](https://play.golang.org/p/YmVBqyb8IcS).

Any idea to achieve this behavior?

[2020-06-24 13:14] bxcodec commented on #116
Hi, maybe you can try this.
https://play.golang.org/p/3MW4hrlE7vM

- I've changed the faker version, you're using the old one.
- I use reflect.Set to set the value back

I'm closing this issues, feel free to re-open if you have questions

[2020-06-24 13:14] #116 closed

[2020-06-24 13:15] bxcodec commented on #114
We haven't try to test this in a concurrent way.

My suggestion, I think you can add mutex on inside your goroutine.

[code]

How about it?

[2020-06-24 15:49] pioz commented on #114
This is the playground: https://play.golang.org/p/1T1aAsWgmhu

It would be nice if `faker` managed concurrency internally.

[2020-06-27 09:46] pioz opened #117 "Consideration about keep tag"
I love faker and I use it a lot on my tests. Something like this:
[code]
In practice, I want the `faker:"keep"` tag always. I don't know if also other users have this need. But for me, the `keep` tag should be the default behavior. So what I propose is to remove the keep tag and add a new one with the opposite effect, something like `replace`. Or a global configuration (`faker.EnableKeepDefaultBeh

[2020-06-29 07:33] pioz opened #118 "Keep tag on a nested struct"
I have the following playground: https://play.golang.org/p/0d3PEY1UBZW

Seems that the keep tag does not work for a nested struct. Is there a way to make the playground work?

[2020-07-17 14:03] #87 closed

[2020-09-14 11:39] developernaren opened #119 "Oneof Not working"
`Oneof` is not workimg

I have added an example here.
https://goplay.space/#9363kAc0JT_V
It does not seem to be working.

[2020-09-14 11:47] developernaren commented on #119
apparently I need to use the v3.
as
import "github.com/bxcodec/faker/v3"
works

[2020-09-14 11:47] #119 closed

[2020-09-15 13:58] frederikhors opened #120 "Is localization supported?"
I don't understand if languages (localization, l18n) is supported.

E.g.: can I generate fake french first names?

[2020-10-09 09:00] BPing opened #121 "Support enumeration？"

[2020-10-09 09:34] bxcodec commented on #121
Hmmm,

do you have any use case scenario for this?

[2020-10-09 09:35] bxcodec commented on #120
Maybe you can take a look here for the example https://github.com/bxcodec/faker/blob/master/example_with_tags_lang_test.go

[2020-10-09 09:38] bxcodec commented on #117
Is using the ignore tag is not enough?
Hmm...

it'll take time to investigate this, I wonder if you have time, you can do it first.

[2020-10-09 10:28] frederikhors commented on #120
I saw that. But I cannot make it work.

E.g., I need french names. I'm trying with this code:

[code]

It prints this:

[code]

Am I wrong?

[2020-10-30 09:38] nphmuller opened #124 "Faker generating empty slices"
With enough tries Faker generates at least a couple of empty sizes. I believe using the default settings this is unintentional, right?

Repro:
[code]
Or: https://play.golang.org/p/IHpHR6x8IAM

[2020-10-30 09:41] nphmuller commented on #124
Nevermind, seems intentional.

[2020-10-30 09:41] #124 closed

[2020-11-03 09:14] nphmuller opened #125 "Option to never make empty slices"
Currently the default is to make a slice a random size between 0 and 100 (the upper limit is settable).
Are you open for an option to change to lower limit from 0 to 1? So that faker never generates a random empty slice?

[2020-12-04 02:32] shawn-xdji opened #126 "Hangs up for large struct"
looks like running into infinite loop, the struct is too large to be simplified for reproducing, is there any verbose flag to help diagnose? Thanks a lot.

[2021-01-26 13:21] dcs3spp opened #129 "Feat: Generate string from regular expression"
Not sure if this is already implemented? Apologies if so!

https://pkg.go.dev/go.spiff.io/regen allows generating a string from a regular expression. Could this functionality be embedded within the faker library, introducing a tag to specify the regular expression?

[2021-04-12 20:28] PatrickLearn opened #132 "Facebook account"
I strongly believe that it is the case that someone used this software to create a Facebook account with my phone number, as the first-last name combination only appears here. Thanks for the free account.

[2021-04-12 20:56] #132 closed

[2021-04-26 18:03] eduardo-mior commented on #121
Use oneof tag.
Example:

Type TestStruct struct {
    MyEnum               int `faker:"oneof: 1, 2, 3, 4"`
    MyOtherEnum string `faker:"oneof: YELLOW, BLUE, GREEN, RED"`
}

[2021-04-26 18:08] eduardo-mior opened #133 "boundary_start for Date?"
Is it possible to set a start date and an end date?
This already exists for those for the numbers. Int Uint ...
boundary_start boundary_end

[2021-04-26 18:17] eduardo-mior commented on #119
I had the same problem, strange

[2021-04-26 18:19] eduardo-mior opened #134 "Prefix and Suffix for fake string?"
Is it possible for me to define a prefix or a suffix for a string?
I would like to generate a random file name, and for that I need to define a .png suffix for my file name to be valid.
At other times I have also had to define suffixes.

[2021-04-26 18:32] eduardo-mior opened #135 "Nullable pointer"
I have a struct with an int pointer field (* int). Is it possible for me to define a tag saying that this pointer can be null?
In many situations this pointer is null, but with the faker it is always filled.

[2021-04-26 18:52] eduardo-mior opened #136 "Oneof don't work with *int"
I have a struct with `*int` and I'm trying to use `faker:"oneof: 1, 2"` but I always get **unsupported Tag: oneof: 1, 2** when trying to generate the fakes data.

[2021-05-06 13:31] makon commented on #125
Or at least make the min number settable, too?

[2021-05-10 13:22] fredbi opened #138 "support custom random sources"
A nice addition would be to be able to set custom random sources.

I see several reasons for that:
1. Seed a random source to generate a stable set of fake data
2. Use an alternate random generator, such as xorshift, for faster fake data generation
3. Have full control over when concurrency-safety is desirable or when it is not

[2021-05-13 20:27] jonfulk commented on #136
I'm using v3.6.0 and getting the same issue when trying to use `oneof` for a boolean  as in `faker:"oneof: true, false"` which returns this error: `Tag unsupported: oneof: true, false`

[2021-05-14 13:10] jonfulk commented on #136
@eduardo-mior I was able to resolve this by importing `"github.com/bxcodec/faker/v3"`. I thought I was using v3.6.0, but it turns out that "github.com/bxcodec/faker" was reverting to v2. I had to remove all references to `"github.com/bxcodec/faker"` and do `go mod tidy` to get everything updated.

[2021-06-11 14:41] #134 closed

[2021-06-19 22:47] andradei opened #142 "Correct RandomInt function"
The `RandomInt` function says in the documentation that it can work with 3 arguments, but the function only uses 2, throwing an error if you ever use 3.

[code]

The documentation isn't the clearest either.

Reference from master:

https://github.com/bxcodec/faker/blob/master/faker.go#L1156

[2021-07-01 03:56] #138 closed

[2021-07-01 04:12] bxcodec commented on #136
Thanks @eduardo-mior   for the reports.
I'll take a look soon when I free. Meanwhile, if you're free, can help to raise a PR?

Just ping me in @bxcodec (twitter) once you've raised a PR so I can merge and release a new version

[2021-07-16 11:50] amanenk opened #144 "Max depth parameter"
I am trying to fill up the structure that has infinite loop inside.
That would be awesome to set a limiter that stops after a few loops

[2021-09-07 19:38] jmwielandt opened #146 "Please add (again) support for custom random sources"
Hi, basically this is a repost of #138. I can't access your functions defined at [random\_source.go](https://github.com/bxcodec/faker/blob/master/random_source.go) and being able to pass my instance of math.Rand to the whole application (for having a log of seeds for future replication) is very important to me.

Thanks!

[2021-09-28 14:11] loeffel-io opened #147 "Oneof support for alias types?"
Hey, thanks for the package btw! ❤️

Is there any way to use Oneof for alias types?

[code]

Thanks!

[2021-09-28 15:05] loeffel-io commented on #147
Also the `faker:"boundary_start=0, boundary_end=2"` is no option here ..

[code]

[2021-09-28 15:06] loeffel-io commented on #147
btw its about [protocol buffers](https://developers.google.com/protocol-buffers) generated enums

[2021-09-28 15:16] loeffel-io opened #148 "Tag unsupported: boundary_start=31,boundary_end=88"
[code]

https://github.com/bxcodec/faker/blob/master/example_with_tags_lenbounds_test.go

[2021-09-28 15:21] loeffel-io commented on #148
same for `faker:"len=50"` like mentioned in the example - wth

[2021-09-28 15:42] loeffel-io commented on #148
sorry to say that but [gofakeit](https://github.com/brianvoe/gofakeit) solves all of those problems

[2021-09-30 17:38] djk29a commented on #120
The only three languages supported with the code so far looks to be English, Chinese, and Russian. A "language" is defined with a rune range including exceptions and an informal language spec label. To support French additional characters would need to be added with a new language spec similar to the built-ins https://github.com/bxcodec/faker/blob/7460bf3a84de3afbfe7297c488c711d29f09c5d2/faker.go#

[2021-12-29 03:57] #142 closed

[2021-12-29 04:00] bxcodec commented on #146
Hey @jmwielandt,
can you explain more what you need?

I thought the function on the random_source.go is a public function, and can be accessed from any project?

[2022-01-04 10:43] fncolon opened #152 "Is bitcoin address supported?"
Like the title says

[2022-01-07 13:59] trynity opened #153 "`slice_len` only works for `string`"
Right now, `slice_len` does not actually work for a slice of integers/bytes, despite what the example has: https://github.com/bxcodec/faker/blob/master/example_with_tags_slicelength_test.go

If you add a slice of integers to the test: https://github.com/bxcodec/faker/blob/master/faker_test.go#L650

It will fail with "Invalid Tags" here: https://github.com/bxcodec/faker/blob/master/faker.go#L921

T

[2022-03-29 23:53] not-rusty opened #158 "Compatibility with go 1.18"
Hello there.

The library is giving me `interface{} not allowed` errors on generic structs. Is the library compatible with go 1.18?

[2022-03-30 07:21] bxcodec commented on #158
Hey @not-rusty
It's not yet.

I'm still finding the right time to test this. If anyone can help will really appreciate it. 🙏🏻

[2022-05-17 19:32] meschbach commented on #158
I was able to use `faker.Name()`, `faker.URL()`, etc on `go version go1.18 darwin/arm64` and the Go 1.18.2 Docker image.

[2022-06-20 11:15] unkeep opened #159 "Make possible to ignore some fields or provide custom generators"
For the cases when you cant use struct tags (eg struct is from 3d-party) it would be nice to have an option to ignore some fields by it's name or provide a custom generator.

[code]

a.
[code]

b.
[code]

c.
[code]

`b` and `c` are more flexible as they allow custom generators

[2022-07-12 21:11] avixFF opened #161 "Is there a way to make generated data optional?"
Sometimes it is useful to generate randomly optional fields, such as the last name (but really - almost any field).

Is it possible to do something like this:

[code]

Here `faker.LastName()` would return empty string 50% of the time.

[2022-08-11 10:06] daniel134256 opened #166 "fix panic on using map with value of aliased type"
The following will panic:
[code]
output:
[code]

Opened #165 to fix the issue

[2022-08-11 15:32] bxcodec commented on #161
Is it possible to use a custom generator faker for that?

ref https://github.com/bxcodec/faker/blob/72e522332c49399d4c52a9ad8086244df95f38a6/faker.go#L405-L456

[2022-08-11 15:33] bxcodec commented on #159
Hi @unkeep
Can we link this feature with the current custom tag generator here?

https://github.com/bxcodec/faker/blob/72e522332c49399d4c52a9ad8086244df95f38a6/faker.go#L405-L456

[2022-08-19 15:22] bxcodec commented on #152
Can you help to raise a PR for this? We're working on V4 here #169, if you can help, we will include this as part of new v4 feature. Thanks

[2022-08-19 15:24] bxcodec commented on #159
fixed in #160

Let me know if it still not enough

[2022-08-19 15:24] #159 closed

[2022-08-20 05:35] #114 closed

[2022-08-20 05:35] #144 closed

[2022-08-20 05:35] #153 closed

[2022-08-28 01:28] winey-dev opened #176 "Custom Data Make"
Hi.
I want to create data of linked relationships between internal variables.
this case

`
type Data struct {
    Country string
    City    string
}

var data = map[string]string{
    "$awsome country1": []string{"city list in awsome country1"},
    "$awsome country2": []string{"city list in awsome country2"},
    "$awsome country3": []string{"city list in awsome country3"},
}
`

When generating